<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

	<property name="context_name" value="dubbo-provider" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- 日志输出编码 -->
		<Encoding>UTF-8</Encoding>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
			<pattern> %logger{50} - %msg%n</pattern>

			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
			<!-- 【系统时间】 【线程号】 【日志级别】 【机构号】 【对账日期】【对账类型】
                【执行类】（去掉包路径） -->
			<pattern>%logger{0} - %msg%n
			</pattern>
		</layout>
	</appender>
	<appender name="provider" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log_file_name}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log_file_name}.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>90</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%tracelogid] [%thread]%-5level [%lineno] - %msg%n</pattern>
			<immediateFlush>true</immediateFlush>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
	</appender>


	<root level="${log_file_level}">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="provider" />
	</root>

</configuration>